body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #6c6c6c;
}

#app {
  text-align: center;
  max-width: 600px;
  padding: 20px;
  background-color: rgba(144, 173, 136, 0.74);
  box-sizing: border-box;
  border-radius: 5px;
  width: 100%;
}

.task-input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #d0d3d2;
}

h2 {
  margin-top: 20px;
}

.task-list {
  list-style-type: none;
  padding: 0;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  background-color: #fff;
  margin: 8px 0;
  padding: 12px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.faisablebt,
.nonfaisablebt,
.task-item button {
  background-color: #34ad19;
  color: white;
  border: none;
  cursor: pointer;
  padding: 6px 12px;
  margin-left: 10px;
  border-radius: 3px;
}

.nonfaisablebt {
  background-color: #e30f0f;
}

.task-item button {
  background-color: #ff5050;
}

.feasible-task,
.not-feasible-task,
.donetask {
  font-weight: bold;
  margin-left: 10px;
}

.feasible-task {
  color: green;
}

.not-feasible-task {
  color: red;
}

.donetask {
  color: blue;
}

.archived-task {
  color: gray;
  text-decoration: line-through;
}

@media screen and (max-width: 600px) {
  .task-input {
    font-size: 14px; /
  }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  .task-input {
    width: 80%;
  }
}

@media screen and (min-width: 1025px) {
}
